<!DOCTYPE html>
<html>
<head>
    <title>Create aggregation solution</title>
    <%- include ../headInclude.ejs %>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/js/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/js/bootstrap-fileinput/css/fileinput.min.css"/>
    <link rel="stylesheet" type="text/css" href="/js/webix/webix.css" />
    <link rel="stylesheet" type="text/css" href="/css/aggregation/newAggre.css"/>

</head>
<body class="left-side-collapsed">
<section>
    <%- include ../header.ejs %>
    <div id="aggreDIV" class="main-content row" style="">

        <!-- loading modal: get ms list -->
        <div aria-hidden="true" tabIndex="-1" id='ms-cart-modal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close-modal" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            Add model services to aggregation solution
                        </h4>
                    </div>
                    <div id='ms-cart-modal-body' class="modal-body">
                        <!--<div id="ms-tree-pager"></div>-->
                        <div id="ms-tree"></div>
                        <div id="ms-cart"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn-tt-submit btn btn-primary" disabled data-dismiss="modal">提交</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- ms detail list -->
        <div class="col-lg-3 col-md-4 col-sm-4 row" id="div-AggreMS">
            <div id="div-AggreMS-header">
                <h5 class="pull-left">Aggregation services list</h5>
                <button id="webix-AggreMS-list-add" class="btn btn-default pull-right" data-toggle="modal" data-target="#ms-cart-modal">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <div id="webix-AggreMS-list"></div>
        </div>

        <!-- canvas -->
        <div class="col-lg-9 col-md-8 col-sm-8 row" id="canvas-div">

	        <%- include ./diagram-modeling.ejs %>

        </div>

        <!--region save modal-->
        <div aria-hidden="true" tabIndex="-1" id='save-aggre-solution-modal' class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" id="close-modal" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title">
                            Save this aggregation solution
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="save-aggre-form" class="form-horizontal" role="form">
                            <div class="form-group">
                                <label for="solutionName" class="col-sm-2 control-label">Solution Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="solutionName"
                                           placeholder="solution name" name="solutionName" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="desc" class="col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                    <textarea type="text" class="form-control" id="solutionDesc"
                                              placeholder="input the description of the solution" roles="3" name="solutionDesc" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="author" class="col-sm-2 control-label">Author</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="solutionAuthor"
                                           placeholder="please input your name" name="solutionAuthor" required>
                                </div>
                            </div>
                            <div id="loading-div" style="display: none;text-align: center;">
                                <i class="fa fa-spinner fa-spin fa-3x fa-fw" aria-hidden="true" style="margin: 2px auto;"></i>
                            </div>
                            <hr>
                            <div class="form-group" style="">
                                <div class="col-sm-offset-2 col-sm-4">
                                    <button type="submit" class="btn btn-primary" id="submit-form-btn">Save</button>
                                </div>
                                <div class="col-sm-offset-2 col-sm-4">
                                    <button type="button" class="btn btn-default" id="cancle-form-btn" data-dismiss="modal">Cancle</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                    <!--<button type="button" class="btn-tt-submit btn btn-primary" id="save-aggre-btn">Save</button>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!--endregion-->

    </div>
</section>
<script type="text/javascript" src="/js/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
<script type="text/javascript" src="/js/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
<%- include ../footerInclude.ejs %>

<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/js/webix/webix.js"></script>
<script type="text/javascript" src="/js/jtopo/js/jtopo-0.4.8.js"></script>
<script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>

<script type="text/javascript" src="/js/browserBundle.js"></script>

<script src="http://localhost:2345/livereload.js"></script>
</body>
</html>