<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>分布式地理建模</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/main.js"></script>
    <link href="css/main1.css" rel="stylesheet">
    <!-- INCLUDES -->
    <!--
    <link rel="stylesheet" href="css/bootstrap-table-expandable.css">
    <script src="js/bootstrap-table-expandable.js"></script>
    -->
    <!--[if IE]>
    <script src="http://libs.useso.com/js/html5shiv/3.7/html5shiv.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('#btnRunModel').click(function(){
                alert('11');
            });
        });
    </script>

</head>

<body>
<!--start 登录-->
<!--
<div class="topLogin" style="height:50px;">
    <nav class="nav navbar-default " role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <p style="margin-top:15px;">&nbsp;&nbsp;&nbsp;&nbsp;<strong>游客</strong> 您好,欢迎来到分布式地理建模，请先<a
                        href="#">登录</a></p>
            </div>
            <div class="collapse navbar-collapse" style="margin-bottom:10px;">
                <div class="navbar-form navbar-right">
                    <a href="#" class="navber-link"><span class="glyphicon glyphicon-user"></span>登录</a>&nbsp;&nbsp;&nbsp;
                    <a href="#" class="navber-link"><span class="glyphicon glyphicon-user"></span>注册</a>&nbsp;&nbsp;
                    <input type="text" style="margin-left: 10px; display: inline" class="form-control" placeholder="请输入搜索模型"/>
                    <button class="btn"><span class="glyphicon glyphicon-search"></span>搜 索</button>
                </div>
            </div>
        </div>
    </nav>
</div>
-->
<!--end 登录-->

<% include header.ejs %>

<!--start 主体-->
<div id="inner-page">
<div class="container">
<div class="row pricing-tables">
<!--模型分类-->
<div class="col-md-2 col-sm-2">
    <div class="pricing-table highlight-plan">
        <div class="plan-name">
            <h3>模型分类</h3>
        </div>
        <div class="plan-list">TODO：</div>
    </div>
</div>

<!--模型列表-->
<div class="col-md-10 col-sm-10">

<div class="panel panel-default">
<div class="panel-heading clearfix">
    <div class="pull-left">
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Filter By Disabled<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Filter By Disabled</a></li>
                <li><a href="#">Filter By Abled</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Sort By Name<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sort By Name</a></li>
                <li><a href="#">Sort By Email</a></li>
            </ul>
        </div>
    </div>
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-primary pull-right" style="display:inline;margin-left: 10px;margin-right: 10px;"><span class="glyphicon glyphicon-search"></span>搜 索</button>
            <input type="text" style="display:inline;width:250px;" class="form-control pull-right" placeholder="请输入搜索模型"/>
        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>模型名称</th>
        <th>上传时间</th>
        <th>上传者</th>
        <th>运行状态</th>
        <th>模型描述</th>
        <th>运行模型</th>
        <th>其他</th>
    </tr>
    </thead>
    <tbody>
    <% data.forEach(function(modelSer, index)
    {  console.log(JSON.stringify(modelSer) + '###' + index);
    %>
    <tr>
        <td style="display: none"><%= modelSer._id %></td>
        <td><%= modelSer.ms_model.m_name + '  v0.' + modelSer.mv_num %></td>
        <td><%= modelSer.m_update %></td>
        <td><a href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;温永宁</a></td>
        <td >
            <% if(modelSer.ms_status == 1)
            {
                %><div class="alert-success" role="alert"><strong>可用</strong></div><%
            }
            else
            {
                %><div class="alert-danger" role="alert"><strong>不可用</strong></div><%
            }%>

        </td>
        <td>
            <button type="button" class="btn btn-xs btn-info modelDesciption" data-toggle="modal" >
                <span class="glyphicon glyphicon-list"></span>&nbsp;查看模型信息
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-xs btn-info btnRunModel" >
                <span class="glyphicon glyphicon-wrench"></span>&nbsp;运行模型信息
            </button>
        </td>
        <td>
            <div class="btn-group">
                <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                    More&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Projects</a></li>
                    <li><a href="#">Tasks</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Others</a></li>
                </ul>
            </div>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>
<div class="modal fade" id="modelDes">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="modelDesHead"></h4>
            </div>
            <div class="modal-body" id="modelDesContent">

            </div>
            <div class="modal-footer">
                <a href="#"><strong>read more</strong></a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--分页-->
<ul class="list-group">
    <li class="list-group-item">
        <ul class="pagination square">
            <li class="disabled"><span>Prev</span></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li class="disabled"><a href="#">...</a></li>
            <li><a href="#">14</a></li>
            <li><a href="#">15</a></li>
            <li><a href="#">16</a></li>
            <li><a href="#">17</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    </li>
</ul>
</div>
</div>

</div>
</div>
</div>
<!--end 主体-->

<hr/>
<% include footer.ejs %>

</body>
</html>