<!DOCTYPE html>
<html>
<head>
    <title>服务聚合</title>
    <%- include headInclude.ejs %>
</head>
<body >
<section>
    <%- include header.ejs %>
    <div class="main-content" style="">
        <div id="canvas"></div>
    </div>
</section>
<%- include footerInclude.ejs %>
</body>
</html>