<!DOCTYPE html>
<html>
<head>
    <title>模型服务调用</title>
    <%- include headInclude.ejs %>
    <link href="/css/uploadfile.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" href="/js/data-tables/DT_bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/js/fuelux/css/tree-style.css" />
</head>
<body>
    <section>
        <div id="modelserinfo" data-source="/fakedir/modelser/json/<%=path %>" ></div>
    </section>
<%- include footerInclude.ejs %>

<script type="text/javascript" src="/js/jquery.form.js" ></script>
<script type="text/javascript" src="/js/jquery.uploadfile.min.js" ></script>
<script type="text/javascript" src="/js/geomodel/modelser.js" ></script>
<script type="text/javascript" language="javascript" src="/js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="/js/data-tables/DT_bootstrap.js"></script>
<script type="text/javascript" src="/js/output/bundle.js" ></script>

</body>
</html>