<!DOCTYPE html>
<html lang="zh-CN">
<head>
</head>
<body>
<!--start 友情链接-->
<div id="footer1">
    <div class="container" style="height:200px;">
        <div class="row">
            <div class="col-sm-3">
                <ul class="faddress">
                    <li><img style="height:70px;" src="/images/nsIcon.png" alt=""/></li>
                    <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; 南京市栖霞区文苑路1号</li>
                    <li><i class="fa fa-phone"></i>&nbsp; 025-123456789</li>
                    <li><i class="fa fa-print"></i>&nbsp; 025-123456789</li>
                    <li><a href="mailto:info@yourdomain.com"><i class="fa fa-envelope"></i>&nbsp;modeling@qq.com</a>
                    </li>
                </ul>
            </div><!-- end address -->

            <div class="col-sm-3">
                <div class="qlinks">
                    <h3 class="lmb nocaps">资源通道</h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-right"></i> 地理图标库</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> 数据交换接口库</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> 地理概念库</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> 单位/量纲库</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> 随便什么玩意</a></li>
                    </ul>
                </div>
            </div><!-- end links -->

            <div class="col-sm-3">
                <div class="frposts">
                    <h3 class="lmb nocaps">友情链接</h3>
                    <ul>
                        <li><a href="#"><i class="fa fa-caret-right"></i> 南京师范大学</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> 北京大学</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> 中国科学院寒旱区研究所</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> 国家自然科学基金委员会</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i> 大滁州学院</a></li>
                    </ul>

                </div>
            </div><!-- end links -->

            <div class="col-sm-3">
                <div class="siteinfo">

                    <h3 class="lmb nocaps">关于我们</h3>

                    <p>我们是最牛逼的，们是最牛逼的，是最牛逼的，最牛逼的，牛逼的，逼的，的.</p>
                    <br/>
                    <a href="#">获取更多 <i class="fa fa-long-arrow-right"></i></a>

                </div>
            </div><!-- end site info -->
        </div>
    </div>
</div>
<!-- end 友情链接 -->

<!--start footer-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">Copyright &copy; 2015 强大的505实验室.--我就问你怕不怕</div>
            <div class="col-sm-6">
                <div class="follow-us"><a class="fa fa-facebook social-icon" href="#"></a> <a
                            class="fa fa-twitter social-icon" href="#"></a> <a class="fa fa-linkedin social-icon"
                                                                               href="#"></a> <a
                            class="fa fa-google-plus social-icon" href="#"></a></div>
            </div>
        </div>
    </div>
</footer>
<!-- end footer-->

</body>
</html>