<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>模型服务器</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include header %>
    <div style="min-height: 600px;">
        <h1 style="color:#000000;">欢迎访问本地服务器</h1>
        <p>Welcome to <%= title %></p>
    </div>
    <%- include footer %>
  </body>
</html>
